---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle2">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
{% assign entries_layout = 'grid' %}

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.featured %}
      {% include archive-single.html type=entries_layout %}
    {% endif %}
  {% endfor %}
  {% for post in posts %}
    {% if post.featured != true %}
      {% include archive-single.html type=entries_layout %}
    {% endif %}
  {% endfor %}
</div>

{% include paginator.html %}
